<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='jquery.min.js'></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <p>
    Interfejs użytkownika
    </p>
  </body>
</html>
